.loader {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - var(--navbargap));
    width: 100%;

    &-text {
        font-weight: bold;

        span {
            font-size: 5em;
        }
    }

    &-bar {
        position: relative;
        height: 2.9em;
        border: 0.4em solid #ccc;
        width: 38.5em;
        border-radius: 0.7em;
        margin: 1.9em 0 0 0;
        overflow: hidden;

        &-after {
            height: 100%;
            position: absolute;
            transition: width ease-in 0.4s;
            width: 100%;
            background: #ccc;
            top: 0;
            left: 0;
            height: 100%;
        }
    }
}
