.overlay {
    align-items: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;

    &-message {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 6.5em 0 9em;
        margin: 64px 0 0 0;

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: auto;
            max-width: 100%;
        }
    }
    &-content {
        position: relative;

        &-text {
            line-height: 3.4em;

            span {
                font-size: 2.6em;
            }
        }

        &-btn {
            align-items: center;
            background: var(--red);
            border: 0.5em solid var(--red);
            border-radius: 1em;
            cursor: pointer;
            display: flex;
            justify-content: center;
            height: 7.4em;
            padding: 0 5em;
            transition: background ease 0.2s;

            &:hover {
                background: transparent;
            }

            span {
                font-size: 2.6em;
            }

            &-arrow {
                height: 4.2em;
                margin: 0 auto;
                width: 12.2em;
                cursor: pointer;
                transition: transform 0.275s ease;

                &:hover {
                    transform: scale(1.2);
                }

                img {
                    height: auto;
                    position: relative;
                    max-width: 100%;
                }
            }
        }

        &-buttons {
            align-items: center;
            justify-content: center;
            display: flex;
            margin: 2em 0 0 0;

            &.vertical {
                flex-direction: column;

                .ans-button {
                    margin: 0 0 2.6em 0;
                }
            }

            .ans-button {
                align-items: center;
                border: 1px solid var(--black);
                border-radius: 1em;
                cursor: pointer;
                display: flex;
                height: 7.4em;
                justify-content: center;
                margin: 0 3.5em 0 0;
                overflow: hidden;
                transition: transform ease-in 0.275s, box-shadow ease-in 0.15s;
                width: 100%;

                &:last-child {
                    margin: 0;
                }

                &:not(.ans-button-check):hover {
                    transform: scale(1.06);
                    box-shadow: 0px 0px 2em 0.6em rgba(0, 0, 0, 0.2);
                }

                &-check {
                    cursor: no-drop;

                    &.ans-button-yes {
                        background: var(--green);
                    }

                    &.ans-button-no {
                        background: var(--red);
                    }
                }

                span {
                    font-size: 2.6em;
                }
            }
        }
    }
}
