.jbl-logo {
    .start-app & {
        height: 5.6em;
        width: 6em;

        .app-mobile & {
            height: 3.2em;
            width: 3.4em;
        }
    }

    img {
        width: 100%;
        height: auto;
    }
}
