.start-app {
    min-height: 150em;
    opacity: 0;
    position: relative;
    width: 100%;

    &-abs-image {
        position: absolute;
    }

    &-bg-left {
        height: 112.1em;
        left: 4.6em;
        top: 9.1em;
        width: 45.2em;
    }

    &-bg-right {
        height: 89.6em;
        right: 3.3em;
        top: 48.5em;
        width: 47.2em;
    }

    &-content {
        margin: 0 auto;
        padding: 5.5em 0 0 0;
        position: relative;
        width: 78em;
        z-index: 1;

        &-header {
            align-items: center;
            display: flex;
            margin: 0 0 1em 0;

            &-text {
                margin: 0 3em 0 0;

                span {
                    color: var(--red);
                    font-size: 3.4em;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }

        &-title {
            color: var(--text);

            &-text {
                line-height: 8em;

                span {
                    font-size: 7.1em;
                    font-weight: bold;
                }
            }

            img {
                height: auto;
                max-width: 100%;
                position: relative;
                top: -11.3em;
            }
        }

        &-paragraph {
            color: var(--text);
            line-height: 3.9em;
            margin: -8.6em 0 0 0;

            span {
                font-size: 2.6em;
            }
        }

        &-button {
            color: var(--white);
            width: 100%;
            margin: 4em 0 0 0;

            &:hover {
                color: var(--red);
            }

            span {
                font-weight: bold;
                font-size: 3.2em;
            }
        }
    }
}
