.Shers {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 145em;

    .share-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 7.3em;
        height: 7.3em;
        margin: 0 0 1em 0;
        border-radius: 1em;
        transform: translateX(100%);

        &:hover {
            background: #014990;
        }

        button {
            align-items: center;
            display: flex;
            justify-content: center;
        }
    }

    .share-btn-vk {
        background: #305c99;

        svg {
            width: 5.1em;
            height: 3em;
        }
    }

    .share-btn-tw {
        background: #00cdff;

        svg {
            width: 4.8em;
            height: 3.8em;
        }
    }

    .share-btn-fb {
        background: #567ca4;

        svg {
            width: 2.4em;
            height: 5em;
        }
    }
}

//Мобильная версия

.app-mobile {
    .Shers {
        flex-direction: row;
        justify-content: center;
        margin: 3em 0 0 0;
        position: relative;
        top: inherit;

        .share-btn {
            width: 4.4em;
            height: 4.4em;
            margin: 0 0.8em 0 0;
            border-radius: 1em;
            transform: translateX(0);
        }

        .share-btn-vk {
            svg {
                width: 3.1em;
                height: auto;
            }
        }

        .share-btn-tw {
            svg {
                width: 3em;
                height: auto;
            }
        }

        .share-btn-fb {
            svg {
                width: 1.6em;
                height: auto;
            }
        }
    }
}
