.start-paralax {
    height: 135.6em;
    left: 50%;
    position: absolute;
    top: 4.2em;
    transform: translateX(-50%);
    width: 180.1em;

    img {
        position: relative;
        width: 100%;
    }
}
